In [125]:
import pandas as pd
import numpy as np
!pip install scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import classification_report

Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.9.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [81]:
data_train = pd.read_csv('C:/Users/User/Downloads/titanic/train.csv')
data_gender = pd.read_csv('C:/Users/User/Downloads/titanic/gender_submission.csv')
data_train.info()
data_gender.info()
data_train_copy = data_train.copy()
data_gender_copy = data_gender.copy()
data_gender_copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [85]:
import math 

mean_age = data_train_copy['Age'].mean()
def change_age(data):
    if math.isnan(data):
        return mean_age 
    else:
        return int(round(data))
        
data_train_copy['Age'] = data_train_copy['Age'].apply(change_age)

data_train_copy['Age']

0      22
1      38
2      26
3      35
4      35
       ..
886    27
887    19
888    30
889    26
890    32
Name: Age, Length: 891, dtype: int64

In [83]:
def change_sex(data):
    if data == 'male':
        return 1
    elif data == 'female':
        return 0

data_train_copy['Sex'] = data_train_copy['Sex'].apply(change_sex)
data_train_copy['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [86]:
data_train_norm = data_train_copy[['Pclass','Survived', 'Sex', 'Age']]
data_train_norm

     Pclass  Survived  Sex  Age
0         3         0    1   22
1         1         1    0   38
2         3         1    0   26
3         1         1    0   35
4         3         0    1   35
..      ...       ...  ...  ...
886       2         0    1   27
887       1         1    0   19
888       3         0    0   30
889       1         1    1   26
890       3         0    1   32

[891 rows x 4 columns]

In [130]:
X = data_train_norm[['Pclass', 'Sex', 'Age']]
y = data_train_copy['Survived']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


classification_report_output = classification_report(y_test, y_pred)
classification_report_output

'              precision    recall  f1-score   support\n\n           0       0.82      0.87      0.84       105\n           1       0.79      0.73      0.76        74\n\n    accuracy                           0.81       179\n   macro avg       0.81      0.80      0.80       179\nweighted avg       0.81      0.81      0.81       179\n'

In [128]:
new_data = pd.DataFrame({'Pclass': [3], 'Sex': [1], 'Age': [32]})
predicted_survival = model.predict(new_data)
predicted_survival[0]

0